# Practice Lab: Selecting data in a Dataframe

## Objectives
After completing this lab you will be able to:

* Use Pandas Library to create DataFrame and Series
* Locate data in the DataFrame using loc() and iloc() functions
* Use slicing

### Exercise 1: Pandas: DataFrame and Series
**Pandas** is a popular library for data analysis built on top of the Python programming language. Pandas generally provide two data structures for manipulating data, They are:

* DataFrame
* Series

A **DataFrame** is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

* A Pandas DataFrame will be created by loading the datasets from existing storage.
* Storage can be SQL Database, CSV file, Excel file, etc.
* It can also be created from the lists, dictionaries, and from a list of dictionaries.

**Series** represents a one-dimensional array of indexed data. It has two main components :

1. An array of actual data.
2. An associated array of indexes or data labels.

The index is used to access individual data values. You can also get a column of a dataframe as a **Series**. You can think of a Pandas series as a 1-D dataframe.

In [1]:
# let us import the Pandas Library
import pandas as pd

Once youâ€™ve imported pandas, you can then use the functions built in it to create and analyze data.

**In this practice lab, we will learn how to create a DataFrame out of a dictionary.**

Let us consider a dictionary 'x' with keys and values as shown below.

We then create a dataframe from the dictionary using the function pd.DataFrame(dict)

In [2]:
#Define a dictionary 'x'

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

We can see the direct correspondence between the table. The keys correspond to the column labels and the values or lists correspond to the rows.

## Column Selection:
To select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

Let's Retrieve the data present in the <code>ID</code> column.

In [3]:
#Retrieving the "ID" column and assigning it to a variable x
x = df[['ID']]
x

   ID
0   1
1   2
2   3
3   4

Let's use the <code>type()</code> function and check the type of the variable.

In [4]:
type(x)

pandas.core.frame.DataFrame

The output shows us that the type of the variable is a DataFrame object.

### Access to multiple columns
Let us retrieve the data for <code>Department, Salary and ID</code> columns

In [5]:
#Retrieving the Department, Salary and ID columns and assigning it to a variable z

z = df[['Department','Salary','ID']]
z

        Department  Salary  ID
0  Architect Group  100000   1
1   Software Group   80000   2
2      Design Team   50000   3
3   Infrastructure   60000   4

### Exercise 2: loc() and iloc() functions
<code>loc()</code> is a label-based data selecting method which means that we have to pass the name of the row or column that we want to select. This method includes the last element of the range passed in it.

Simple syntax for your understanding:

* loc[row_label, column_label]

<code>iloc()</code> is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it.

Simple syntax for your understanding:

* iloc[row_index, column_index]

#### Let us see some examples on the same.

In [6]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Rose'

In [7]:
# Access the value on the first row and the third column

df.iloc[0,2]

'Architect Group'

In [8]:
# Access the column using the name

df.loc[0, 'Salary']

100000

Let us create a new dataframe called 'df2' and assign 'df' to it. Now, let us set the "Name" column as an index column using the method set_index().

In [9]:
df2=df
df2=df2.set_index("Name")

In [10]:
#To display the first 5 rows of new dataframe
df2.head()

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000

In [11]:
#Now, let us access the column using the name
df2.loc['Jane', 'Salary']

50000

### Exercise 3: Slicing

Slicing uses the [] operator to select a set of rows and/or columns from a DataFrame.

To slice out a set of rows, you use this syntax: data[start:stop], 

here the start represents the index from where to consider, and stop represents the index one step BEYOND the row you want to select. You can perform slicing using both the index and the name of the column.

> NOTE: When slicing in pandas, the start bound is included in the output.

So if you want to select rows 0, 1, and 2 your code would look like this: df.iloc[0:3].

It means you are telling Python to start at index 0 and select rows 0, 1, 2 up to but not including 3.

> NOTE: Labels must be found in the DataFrame or you will get a KeyError.

Indexing by labels(i.e. using <code>loc()</code>) differs from indexing by integers (i.e. using <code>iloc()</code>). With <code>loc()</code>, both the start bound and the stop bound are inclusive. When using <code>loc()</code>, integers can be used, but the integers refer to the index label and not the position. 

For example, using <code>loc()</code> and select 1:4 will get a different result than using <code>iloc()</code> to select rows 1:4.

<h4 id="data">We can also select a specific data value using a row and column location within the DataFrame and iloc indexing.

In [12]:
# let us do the slicing using old dataframe df

df.iloc[0:2, 0:3]

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [13]:
#let us do the slicing using loc() function on old dataframe df where index column is having labels as 0,1,2
df.loc[0:2,'ID':'Department']

   ID       Department
0   1  Architect Group
1   2   Software Group
2   3      Design Team

In [14]:
#let us do the slicing using loc() function on new dataframe df2 where index column is Name having labels: Rose, John and Jane
df2.loc['Rose':'Jane', 'ID':'Department']

      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team