In [2]:
import pandas as pd

In [5]:
df = 'Book1.csv'
df = pd.read_csv('Book1.csv')
df

,Artist,Album,Released,Length,Genre,Music recording sales (millions),Claimed sales (millions,Released.1,Soundtrack,Rating (friends
0,Michael Jackson,Thriller,1982,00:42:19,"Pop, rock,R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,Hard rock,26.1,50,25-Jul-80,NaN,8.5
2,Pink Floyd,The Dark side of the Moon,1973,00:42:49,Progressive rock,24.2,45,01-Mar-73,NaN,9.5
3,Whitney Houston,The Bodyguard,1992,00:57:44,"Soundtrack/R&B, soul, pop",26.1,50,25-Jul-80,Y,7.0
4,Meat Loaf,Bat out of Hell,1977,00:46:33,"Hard rock, progressive rock",20.6,43,21-Oct-77,NaN,7.0
5,Eagles,Their Greatest Hits(1971-1975,1976,00:43:08,"Rock, soft rock, flok rock",32.2,42,17-Feb-76,NaN,9.5
6,Bee Gees,Saturday Night Fever,1977,01:15:54,Disco,20.6,40,15-Nov-77,Y,9.0
7,Fleetwood Mac,Rumours,1977,00:40:01,Soft rock,27.9,40,04-Feb-77,NaN,9.5

#### Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [12]:
q = df[['Rating (friends']]
q

   Rating (friends
0             10.0
1              8.5
2              9.5
3              7.0
4              7.0
5              9.5
6              9.0
7              9.5

#### Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [14]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

#### Access the 2nd row and the 3rd column of <code>df</code>:

In [16]:
df.iloc[1, 2]

1980

#### Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

new_index=['a','b','c','d','e','f','g','h']

In [20]:
new_index=['a','b','c','d','e','f','g','h']

df_new=df
df_new.index= new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object