## Working with Variables and Expressions in Python
Estimated time needed: 10 minutes

### Objectives
After completing this lab you will be able to:

Use expressions and variables to perform operations

## Table of Contents

Expressions and Variables

    Expressions
    Exercise: Expressions
    Variables
    Exercise: Expression and Variables in Python

## Expressions and VariablesÂ¶
### Expressions
Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [1]:
# Addition operation expression

43 + 60 + 16 + 41

160

We can perform subtraction operations using the minus operator. In this case the result is a negative number:

In [2]:
# Multiplication operation expression

5 * 5

25

We can also perform division with the forward slash:

In [3]:
# Division operation expression

25 / 5

5.0

In [4]:
# Division operation expression

25 / 6

4.166666666666667

As seen in the quiz above, we can use the double slash for integer division, where the result is rounded down to the nearest integer:

In [5]:
# Integer division operation expression

25 // 5

5

In [6]:
# Integer division operation expression

25 // 6

4

Let's write an expression that calculates how many hours there are in 160 minutes:

In [7]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160//60

2

Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [8]:
# Mathematical expression

30 + 2 * 60

150


And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [9]:
# Mathematical expression

(30 + 2) * 60

1920

### Variables
Just like with most programming languages, we can store values in variables, so we can use them later on. For example:

In [10]:
# Store value into variable

x = 43 + 60 + 16 + 41

To see the value of x in a Notebook, we can simply place it on the last line of a cell:

In [11]:
# Print out the value in variable

x

160

We can also perform operations on x and save the result to a new variable:

In [12]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

If we save a value to an existing variable, the new value will overwrite the previous value:

In [13]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:

In [14]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [15]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In the cells above we added the length of three albums in minutes and stored it in total_min. We then divided it by 60 to calculate total length total_hours in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.

In [16]:
# ComplicateD expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., //).