#### What is the value of the variable "a" after the following code is executed?

a = "1"

In [6]:
a = "1"

a

'1'

#### What is the value of the variable b after the following code is executed?

b = "2"

In [7]:
b = "2"

b

'2'

#### What is the value of the variable c after the following code is executed?

c = a + b

In [9]:
c = a + b 

c

'12'

#### Consider the variable d use slicing to print out the first three elements:
    
d = "ABCDEFG"

In [11]:
d = "ABCDEFG"

d[0:3]

'ABC'

#### Use a stride value of 2 to print out every second character of the string e:

e = 'clocrkr1e1c1t'

In [12]:
e = 'clocrkr1e1c1t'

e[::2]

'correct'

#### Print out a backslash:

In [18]:
print(r"\ ")

\

#### Convert the variable f to uppercase:
    
f = "You are wrong"

In [20]:
f = "You are wrong"

f.upper()

'YOU ARE WRONG'

#### Convert the variable f2 to lowercase:

f2="YOU ARE RIGHT"

In [21]:
f2="YOU ARE RIGHT"

f2.lower()

'you are right'

#### Consider the variable g, and find the first index of the sub-string snow:

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \\
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \\
Everywhere that Mary went The lamb was sure to go"

In [26]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find("snow")

95

#### In the variable g, replace the sub-string Mary with Bob:

In [27]:
g.replace('Mary', 'Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

#### In the variable g, replace the sub-string 
#### "," with ".":

In [29]:
g.replace(",", ".")

'Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go'

#### In the variable g, split the substring to list:

In [30]:
g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

#### In the string s3, find whether the digit is present or not using the \d and search() function:

s3 = "House number- 1105"

In [37]:
s3 = "House number- 1105"
# Write your code below and press Shift+Enter to execute

import re
pattern = "\d\d\d\d"

find = re.search(pattern, s3)

if find:
    print("Digit found")
else:
    print("Digit not found.")

Digit found

In [38]:
result = re.search("\d", s3)

# Check if a match was found
if result:
    print("Digit found")
else:
    print("Digit not found.")

Digit found

#### In the string str1, replace the sub-string fox with bear using sub() function:

str1= "The quick brown fox jumps over the lazy dog."

In [41]:
str1= "The quick brown fox jumps over the lazy dog."

result = re.sub(r"fox", "bear", str1)

print(result)

The quick brown bear jumps over the lazy dog.

#### In the string str2 find all the occurrences of woo using findall() function:
    
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

In [43]:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

result = re.findall(r"woo", str2)

print(result)

['woo', 'woo', 'woo', 'woo']